<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--使用jdbcgetGenerateKeys 主键自增-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列标签代替列别名-->
        <setting name="useColumnLabel" value="true"/>
        <!--开始驼峰转换-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>